.bonus {
  text-transform: uppercase;
  padding: 1.1em 0 0 0;
  margin: 0 0 2.7em 0;
  overflow: hidden;
  font-size: 3.1em;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;

  @include animate($menu-animation-time);

  .part {
    display: block;
    float: left;
    font-weight: normal;

  }
  .small {
    display: block;
    margin: 0;
    width: 3.3em;
    font-size: 0.8em;
    line-height: 1.2;
    letter-spacing: 0.04em;
    font-weight: normal;
    @media only screen and (max-width: $tablet-big) {
      width: 3.6em;
    }
  }
  .medium {
    display: block;
    margin: 0;
    float: left;
    width: 2em;
    font-size: 1.3em;
    line-height: 1.1;
    font-weight: normal;

  }
  .big {
    display: block;
    float: left;
    line-height: 0.95;
    font-size: 2.5em;
    letter-spacing: -0.03em;
    margin-right: 0.07em;
    font-weight: 500;


    span {
      display: block;
      float: left;
      font-size: 0.85em;
      margin-left: 0.02em;
      margin-right: 0.03em;
      margin-top: 0.1em;
    }

  }
}


@media only screen and (max-width: $desktop-large) {
  .bonus {
    font-size: 2.4em;
    padding-top: 1.35em;
  }
}
@media only screen and (max-width: $desktop-medium) {
  .bonus {
    font-size: 2.05em;
    padding-top: 1.15em;
  }
}
@media only screen and (max-width: $tablet-big) {
  .bonus {
    padding-top: 0.9em
  }
}
@media only screen and (max-width: $tablet-small) {
  .bonus {
    font-size: 1.45em;
  }
}
@media only screen and (max-width: $mobile-big) {
  .bonus {
    font-size: 1.05em;
  }
}
@media only screen and (max-width: $mobile-small) {
  .bonus {
    font-size: 0.75em;

  }
}
@media only screen and (max-width: $mobile-verysmall) {
  .bonus {
    margin-bottom: 1.7em;
  }
}
