footer {
  width: 100%;
  text-align: right;
  position: relative;
  background: #000;
  font-size: 0.75em;
  color: $gray;
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: right;
  font-family: 'Roboto Condensed';
  padding-bottom: 1em;
  @media only screen and (max-width: $tablet-big) {
    margin-top: 3em;
    position: absolute;
    bottom: 0;
  }
  p {
    position: relative;
    top: 0;
    right: $margin-big;
    padding-right: 4em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    margin: 0;

    .icon-18 {
      display: block;
      background: url(../images/icon-18.jpg) no-repeat;
      background-size: contain;
      -ms-behavior: url(/dist/scripts/backgroundsize.min.htc);
      width: 2.8em;
      height: 2.8em;
      position: absolute;
      top: 0;
      right: 0px;
    }

    @media only screen and (min-width: 1870px) {
      top: -3.2em;
    }
    @media only screen and (max-width: $tablet-big) {
      right: auto;
      text-align: center;
      .icon-18 {
        right: 50%;
        margin-right: -18em;
      }
    }
    @media only screen and (max-width: $mobile-small) {
        padding-left: $margin-small;
        padding-right: $margin-small;
        line-height: 1.5;
        padding-bottom: 3em;
        .icon-18 {
          margin-right: -1.4em;
          top: auto;
          bottom: 0em;
          width: 2.2em;
          height: 2.2em;
        }
      }
    }
  }
