header {
  height: 60px;
  width: 100%;
  background: #000;

  @media only screen and (max-width: $desktop-large) {
    height: 40px;
  }


  a.logo {
    height: 100%;
    width: 200px;
    display: block;
    background: url(../images/logo.jpg) no-repeat;
    background-size: contain;
    background-position: left;
    margin-left: $margin-big;
    -ms-behavior: url(/dist/scripts/backgroundsize.min.htc);

    @media only screen and (max-width: $tablet-big) {
      margin-left: $margin-small;
    }

    @media only screen and (max-width: $desktop-large) {
      width: 105px;
    }
  }
}
