.signup-button {
  font-family: 'Roboto Condensed';
  color: #FFF;
  font-size: 1.9em;
  line-height: 1.9;
  text-transform: uppercase;
  text-decoration: none;
  background: $pink;
  display: inline-block;
  padding: 0 0.9em;
  margin: 1.9em 0 0 0em;
  -webkit-border-radius: 0.18em;
  -moz-border-radius: 0.18em;
  border-radius: 0.18em;
  border: 1px solid $pink;
  -ms-behavior: url(/dist/scripts/PIE.htc);


  @include animate($menu-animation-time);

  @media only screen and (max-width: $desktop-large) {
    font-size: 1.45em;
  }
  @media only screen and (max-width: $desktop-medium) {
    font-size: 1.28em;
  }
  @media only screen and (max-width: $tablet-big) {
    font-size: 1.6em;
    margin-top: 1.5em;
    position: relative;
    left: 48%;
    margin-left: -3.8em;
  }
  @media only screen and (max-width: $mobile-big) {
    margin-top: 0em;
  }

  &:hover {
    border: 1px solid #FFF;
    background: darken( $pink, 20% );
    color: #FFF;
  }
  &:active {
    background: #FFF;
    color: darken( $pink, 20% );
  }
}
