.slide-down {
  border: 0;
  text-align: left;
  display: block;
  color: #FFF;
  background: $blue-dark;
  text-decoration: none;
  font-family: 'Roboto Condensed';
  text-indent: 0.7em;
  margin-top: 3.8em;
  font-size: 0.98em;
  letter-spacing: 0.06em;
  width: 57.4em;
  line-height: 4em;
  position: relative;
  @include animate($menu-animation-time);

  @media only screen and (max-width: $desktop-large) {
    font-size: 0.765em;
    margin-top: 4.4em;
  }
  @media only screen and (max-width: $desktop-medium) {
    margin-top: 4.0em;
    font-size: 0.658em;
  }
  @media only screen and (max-width: $tablet-big) {
    width: 96%;
    font-size: 0.8em;

  }


  .ie-polyfill-icon {
    position: absolute;
    content: "";
    display: block;
    background: url(../images/arrow-down.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    width: 1.5em;
    height: 0.7em;
    top: 50%;
    margin-top:-0.24em;
    right: 1.3em;
    -ms-behavior: url(/dist/scripts/backgroundsize.min.htc);

  }

  &.clicked {
    background: lighten( $blue-dark, 6% );
    .ie-polyfill-icon {
      transform: scaleY(-1);
      top: 40%;
    }
  }

  &:hover {
    background: darken( $blue-dark, 6% );
  }

  &.clicked {
    &:hover {
      background: lighten( $blue-dark, 6% );
    }
  }

}

.slide-wrapper {
  font-size: 0.7em;
  min-width: 80em;
  width: 80em;
  overflow: hidden;
  display: none;
  padding: 0.6em 0 1em 0;
  text-align: justify;

  p {
    font-size: 1.5em;
  }

  @media only screen and (max-width: $desktop-large) {
    font-size: 0.6em;
    min-width: 73em;
    width: 73em;
  }
  @media only screen and (max-width: $desktop-medium) {
    font-size: 0.6em;
    width: 63em;
    min-width: 63em;

  }
  @media only screen and (max-width: $tablet-big) {
    width: 96%;
    min-width: 96%;
  }

}
