ul.steps {
  list-style: none;
  margin: 1.99em 0 0 0;
  overflow: hidden;
  font-size: 1em;


  @media only screen and (max-width: $desktop-large) {
    font-size: 0.78em;
    margin-top: 1.7em;
  }
  @media only screen and (max-width: $desktop-medium) {
    font-size: 0.7em;
    margin-top: 1.35em;
  }
  @media only screen and (max-width: $tablet-big) {
    font-size: 0.9em;
    margin-top: 6.5em;
    text-align: center;
    position: relative;
    left: auto;
  }
  @media only screen and (max-width: $mobile-big) {
    margin-top: 3em;
  }


  li {
    margin-right: 3.0em;
    position: relative;
    display: inline-block;
    @media only screen and (max-width: $mobile-big) {
      margin-bottom: 2em;
      margin-left: 1%;
    }
    @media only screen and (max-width: $mobile-small) {
      margin-right: 1em;
      margin-left: 0%;
    }
    &:last-child {
      margin-left: 1.8em;
      @media only screen and (max-width: $tablet-big) {
        margin-left: 0;
      }
    }

    p {
      font-size: 1.1em;
      line-height: 1.2;
    }

    p.label {
      font-family: 'Roboto Condensed';
      text-transform: uppercase;
      color: $blue-light;
      font-size: 1.25em;
      line-height: 1;
    }

    .ie-polyfill-icon {
      content: "";
      display: block;
      position: absolute;
      top: 0.5em;
      left: -1.4em;
      background: url(../images/arrow.jpg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 0.55em;
      height: 2.1em;
      -ms-behavior: url(/dist/scripts/backgroundsize.min.htc);

      @media only screen and (max-width: $mobile-small) {
        background: none;
      }
    }

  }
}
