html, body {
  background: #000;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 16px;
  line-height: 1.3;
}

#root {
  position: relative;
  padding-bottom: 7em;
}

.content {
  width: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: contain;
  background-position: top center;
  margin: 0 auto;
  opacity: 1;
  -ms-behavior: url(/dist/scripts/backgroundsize.min.htc);

  .wrapper {
    margin-left: $margin-big;
    @media only screen and (max-width: $tablet-big) {
      margin-left: $margin-small;
    }

    .col {
      width: 42%;

      @media only screen and (max-width: $tablet-big) {
        width: 52%;
      }
      @media only screen and (max-width: $mobile-small) {
        width: 55%;
      }
    }
  }

  p, ul {
    font-family: 'Roboto Light';
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    letter-spacing: 0.045em;
    @include animate($menu-animation-time);

    @media only screen and (max-width: $desktop-large) {
      font-size: 1.2em;
      line-height: 1.05;
    }
    @media only screen and (max-width: $desktop-medium) {
      font-size: 1em;
      letter-spacing: 0.017em;
      line-height: 1.35;
    }
  }

  ul {
    margin-left: 0.9em;
    margin-top: 1.5em;
    line-height: 1.5;

    @media only screen and (max-width: $desktop-medium) {
      margin-top: 1.1em;
    }
    @media only screen and (max-width: $desktop-large) {
      line-height: 1.35;
      margin-top: 1.7em;
    }
    @media only screen and (max-width: $mobile-small) {
      margin-left: 0;
      text-align: left;
      text-indent: 0px;
      list-style-position: outside;
      margin-top: 4.5em;
      position: relative;
      left: 50%;
      margin-left: -4em;
      display: inline-block;
    }
    @media only screen and (max-width: $mobile-verysmall) {
      margin-top: 2.0em;
    }

  }

}

p.small {
  font-size: 0.75em;
  margin-top: 0.8em;
  width: 75em;
  color: $gray;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-align: justify;

  @media only screen and (max-width: $desktop-large) {
    width: 59em;
  }
  @media only screen and (max-width: $desktop-medium) {
    width: 50em;
  }
  @media only screen and (max-width: $tablet-big) {
    width: 96%;
  }
}
