// Variables go here
$menu-animation-time: 0.4s;
$margin-big: 14%;
$margin-small: 4%;

$desktop-large: 1500px;
$desktop-medium: 1350px;
$tablet-big: 1024px;
$tablet-small: 940px;
$mobile-big: 650px;
$mobile-small: 480px;
$mobile-verysmall: 360px;


$blue-light: #28a2cf;
$blue-dark: #1b3457;
$pink: #f00a47;
$gray: #787878;
